.MetadataContainer {
    margin-top: 15px;
    margin-bottom: 15px;
}

.ReportsPane {
    min-height: 150px;

    :global(li:not(.list-group-item)) {
        list-style-type: none;
    }
}

.RegistrationsHeader {
    color: $color-text-gray-dark;
    font-size: 13px;
    font-weight: bold;
    margin-top: 2em;
}

h4:global(.NewReportModal__header) {
    font-size: 24px;
    font-weight: normal;
}

:global(.NewReportModal__info) {
    strong {
        font-weight: 600;
    }
}

:global(.NewReportModal__schema-list) {
    ul {
        list-style: none;
    }

    li {
        position: relative;

        input {
            position: absolute;
            left: -1.4em;
            top: -0.1em;
        }

        &:global(.ember-content-placeholders-list__item)::before {
            content: '\25EF';
            position: absolute;
            left: -1.45em;
            color: #555;
        }
    }
}
