.release_group {
    display: flex;
    flex-wrap: nowrap;
}

.release_selector_button {
    border-radius: 5px;
}

.package_editor {
    display: flex;
    padding: 0.4em;
    flex-wrap: wrap;
}

.package_label {
    margin: auto 1em auto 0;
    font-weight: bold;
}

.package_label a {
    color: #000;
}

.product_item {
    margin: 0.5em 1em auto 0;
    border-radius: 0.85em;
    border: 1px solid #ccc;
    padding: 0 1em;
    background: #f8f8f8;
}

.product_item button {
    border: 0;
    background: transparent;
    padding: 0;
}

.product_add {
    margin: auto 1em;
}

.product_add button {
    border-radius: 0.85em;
    font-size: 0.9em;
    padding: 2px 1em;
}

.picked_products_list {
    display: flex;
    flex-wrap: wrap;
}

.release_list {
    background-color: #f8f8f8;
    border-radius: 2px;
    height: 200px;
    overflow-y: scroll;

    & > li > button {
        color: #000;
        width: 100%;
        text-align: justify;
    }

    & > li > button:hover {
        color: #fff;
        background-color: #1e90ff;
    }
}

.products_filter_textarea {
    resize: none;
}

// A workaround to avoid a malformed behaviour of tab line.
/* stylelint-disable-next-line selector-max-compound-selectors */
.products_tabs > ul > li > a:hover {
    border: 1px solid rgba(0, 0, 0, 0);
}

.products_list_pane {
    padding: 4px 10px;
    max-height: 60vh;
    overflow-y: scroll;
}

.products_list_entry_label {
    white-space: nowrap;
    width: 100%;

    &:hover {
        color: #fff;
        background-color: #1e90ff;
    }
}

.manual_product_name_area {
    display: flex;
    padding: 1em;
}

.manual_product_name_editor {
    resize: none;
}

.manual_product_name_add_button {
    margin: 0 1em;
    width: max-content;
}

.inform_manual_add {
    margin: 1em;
    border-radius: 5px;
    padding: 0.5em;

    &.successed {
        background-color: #98fb98;
    }

    &.failed {
        background-color: #ff8484;
    }
}

.inform_manual_add_msg {
    margin: 0.5em;
}
