.Application {
    height: 100%;
    display: flex;
    flex-direction: column;
    background: #c5d6e6 url('/assets/images/dashboard/bg6.jpg') top center repeat-y;
}

.Application__page {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
}
