.environment_candidate {
    display: flex;
    padding: 1em;
    border-radius: 4px;
    border: 1px solid #adadad;
    margin: 0.5em;
}

.environment_name {
    font-size: 1.25em;
}

.environment_description {
    color: #888;
}

.environment_select {
    margin-left: auto;
}

.postscript_view {
    display: flex;
}

.postscript_button {
    margin-left: 1em;
}

.postscript_view button {
    margin-left: auto;
}

.environment_setting_error {
    font-weight: bold;
    color: #f00;
}
