.base_image_entry {
    margin: 0.5em;
}

.deprecated_image_separator {
    margin: 0.5em;
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;

    &:hover,
    &:active:focus,
    &:active,
    &:focus {
        margin: 0.5em;
        background-color: transparent;
        border-color: transparent;
        box-shadow: none;
    }
}

.deprecated_image_switch_icon {
    color: #337ab7;

    &:hover,
    &:active:focus,
    &:active,
    &:focus {
        color: #23527c;
    }
}

.postscript_view {
    display: flex;
}

.postscript_button {
    margin-left: 1em;
}

.postscript_view button {
    margin-left: auto;
}

.environment_setting_error {
    font-weight: bold;
    color: #f00;
}

.title_line {
    display: flex;
}
