.build_console {
    margin: 1em;
}

.build_console_button {
    display: flex;
    padding: 0.2em;
    border-radius: 0.4em;
    border: 1px solid #ccc;
    background-color: #efefef;
}

.build_terminal pre {
    background-color: #000;
    color: #fff;
}

.launch_button {
    margin-left: auto;
}
