<div local-class='build_console'>
    <div local-class='build_console_button'>
        <GuidNode::Binderhub::-Components::LaunchButtons
            @binderHubConfig={{this.binderHubConfig}}
            @onClick={{action this.launch}}
        />
    </div>
    {{#if this.buildLogVisible}}
        <div local-class='build_terminal'>
            <pre>{{this.buildLogLines}}</pre>
        </div>
    {{/if}}
</div>
