.package_editor {
    display: flex;
    padding: 0.4em;
}

.package_label {
    margin: auto 1em auto 0;
    font-weight: bold;
}

.package_item {
    margin: auto 1em auto 0;
    border-radius: 0.85em;
    border: 1px solid #ccc;
    padding: 0 1em;
    background: #f8f8f8;
}

.package_item button {
    border: 0;
    background: transparent;
    padding: 0;
}

.package_add button {
    border-radius: 0.85em;
    font-size: 0.9em;
    padding: 2px 1em;
}
