@media screen and (max-width: 500px) {
    .IQBRIMS {
        margin: 0;
        padding: 0;
    }
}

@media screen and (max-width: 768px) and (min-width: 500px) {
    .IQBRIMS {
        margin: 0;
        padding: 0;
    }
}

.IQBRIMS__editor {
    margin-top: 24px;
}

.IQBRIMS__required {
    font-weight: bold;
    color: #f00;
}

.IQBRIMS__loaded {
    visibility: visible;
}

.IQBRIMS__loading {
    visibility: hidden;
}

.IQBRIMS__file_error {
    font-weight: bold;
    color: #f00;
}

.IQBRIMS__header_1 {
    margin-bottom: 0.5em;
}

.IQBRIMS__header_2 {
    margin-top: 1em;
    margin-bottom: 0.5em;
}

.IQBRIMS .IQBRIMS__checkbox {
    input {
        margin-left: 0;
    }

    label {
        font-weight: bold;
    }
}
