@media screen and (max-width: 500px) {
    .IQBRIMS {
        margin: 0;
        padding: 0;
    }
}

@media screen and (max-width: 768px) and (min-width: 500px) {
    .IQBRIMS {
        margin: 0;
        padding: 0;
    }
}

.IQBRIMS__editor {
    margin-top: 24px;
}

.IQBRIMS__required {
    font-weight: bold;
    color: #f00;
}

.IQBRIMS__loaded {
    visibility: visible;
}

.IQBRIMS__loading {
    visibility: hidden;
}

.IQBRIMS__file_error {
    font-weight: bold;
    color: #f00;
}

.IQBRIMS__header {
    margin-bottom: 0.5em;
}

.IQBRIMS__file_header {
    display: block;
    background: #f5f5f5;
    border: 1px solid #eee;
    font-weight: bold;
}

.IQBRIMS__file_body i {
    padding: 0.4em;
}

.IQBRIMS__file_footer {
    margin: 1em;
}

.IQBRIMS__editor [data-test-share-dialog-button] {
    display: none;
}

.IQBRIMS__editor [data-test-view-button] {
    display: none;
}

.IQBRIMS__editor [data-test-file-item-link] {
    pointer-events: none;
    cursor: default;
}

.IQBRIMS__editor [data-test-version-link] {
    pointer-events: none;
    cursor: default;
    color: #333;
}

.IQBRIMS__editor [data-test-move-button] {
    display: none;
}

.IQBRIMS__editor [data-test-filter-button] {
    display: none;
}

.IQBRIMS__editor [data-test-info-button] {
    display: none;
}

.IQBRIMS__editor [data-test-download-zip-button] {
    display: none;
}

.IQBRIMS__buttons {
    margin-top: 1em;
    margin-bottom: 2em;
}

.IQBRIMS__overview_disabled [href = '#overview'] {
    pointer-events: none;
    cursor: default;
    color: #ccc;
}

.IQBRIMS__paper_disabled [href = '#paper'] {
    pointer-events: none;
    cursor: default;
    color: #ccc;
}

.IQBRIMS__raw_disabled [href = '#raw'] {
    pointer-events: none;
    cursor: default;
    color: #ccc;
}

.IQBRIMS__checklist_disabled [href = '#checklist'] {
    pointer-events: none;
    cursor: default;
    color: #ccc;
}

.IQBRIMS .IQBRIMS__checkbox {
    input {
        margin-left: 0;
    }

    label {
        font-weight: bold;
    }
}
