@media screen and (max-width: 768px) {
    .Package {
        margin: 0;
        padding: 0;
    }
}

.Package__header {
    margin-bottom: 0.5em;
}

.Package__buttons {
    margin-top: 1em;
    margin-bottom: 2em;
}
