.entry {
    display: flex;
    padding: 1em;
    border-radius: 4px;
    border: 1px solid #adadad;
}

.name {
    font-size: 1.25em;
}

.url {
    color: #888;
    font-size: 0.75em;
    margin: 0 2em;
}

.description {
    color: #888;
}

.select_button {
    margin-left: auto;
    min-width: max-content;
}
