.package_item_editor {
    display: flex;
}

.package_item_editor input {
    border-width: 0 0 1px;
    margin: 2px;
}

.package_item_confirm {
    border-style: none;
    background: none;
    color: #28a745;
}

.package_item_cancel {
    border-style: none;
    background: none;
    color: #888;
}
